/* COLORES */
:root {
    --color-burdeos: #40061E; 
    --color-rosa_oscuro:#650B30;
    --color-rosa_medio:#853565;
    --color-rosa_claro:#C2819C;
    --color-naranja: #E48447;
    --color-amarillo:#F7D59A;
}

/*____________________ */
/* FORMATO GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", serif;
    /* PARA VER MARGENES DE LA WEB USAR EL BORDER ESTE(BORRAR AL TERMINAR) */
    border: 1px solid magenta;
}

.best_sellers, .values, .news { 
    border-top-left-radius: b;
    border-top-right-radius: b;
    padding: 5%;
}

/*____________________ */
/* TEXTOS*/
.fs-1 {
    font-size: 17rem !important;
}

.fs-2 {
    font-size: 8rem !important;
}

.fs-3 {
    font-size: 4rem !important;
}

.fs-4 {
    font-size: 2.5rem !important;
}

.fs-5 {
    font-size: 2rem !important;
}

p, a {
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
}
.texto_about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-1 {
    font-weight: 600;
}

h2 {
    font-weight: 900;
} 

/* ___________________ */
/* PADDING */
.pe-5 {
    padding-right: 2rem !important;
}

.ps-5 {
    padding-left: 2rem !important;
}

/*____________________ */
/* BOTONES */
.btn-primary, .btn-custom, .btn-explore {
    border: none;
    border-radius: 4rem;
    font-weight: 600;
    font-size: 1em;
    width: 100%;
}

.btn-primary {
    background-color: var(--color-naranja);  
    color: white; 
    padding: 0.5em;
}

.btn-custom, .btn-explore {
    background-color: var(--color-burdeos);
    color: white;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.btn-primary:hover, .btn-custom:hover, .btn-explore:hover {
    background-color: var(--color-rosa_medio);
    transition: 0.5s;
}


/*____________________ */
/* POP UP */
#cookie-popup {
	display: none;
}

#cookie-popup > div {
	z-index: 999;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-burdeos);
    border-radius: 32px;
    width: 60%;
}

#cookie-popup h2, #cookie-popup p {
	color: white;
}


.aceptar button, .rechazar button {
    background-color: var(--color-naranja);
}

.aceptar button:hover, .rechazar button:hover {
    background-color: var(--color-rosa_claro);
}


/*____________________ */

/* HEADER */
/* CAROUSEL IMAGES */
#carousel_inicial {
    background-color: var(--color-burdeos);
}

.carousel-item > img {
    border-bottom-left-radius: b;
    border-bottom-right-radius: b;
}

.btn_explore {
    padding-bottom: 15rem;
}

/* MENU HAMBURGUESA */
.navbar {
    position: absolute;
    z-index: 1;
    top: 5%;
    width: 90%;
    margin-left: 5%;
    background-color: var(--color-burdeos) !important;
    border-radius: b;
    height: b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    height: b;
}

#navbarResponsive {
    display: flex !important;
    align-items: center;
    justify-content: center;
    align-content: center !important;
    height: b;
}

.navbar-nav {
    height: b;
    margin: 0 !important;
    display: flex;
    align-content: center !important;
    align-items: center;
    justify-content: space-between;
}

.nav-item > a {
    color: white;
}

.nav-item-logo {
    background-color: aqua;
    height: 7rem;
}

.nav-item-logo > a > img {
    height: 7rem;
}

.nav-link {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    margin: 0;
    width: 100%;
}

/* 
nav:nth-child(2) {
    padding: 2rem;
}

.bg-body-tertiary {
    background-color: var(--color-blanco) !important;
}


nav:nth-child(2) li {
    padding: 0 1rem;
}

#navbarNavDropdown {
    position: relative;
}

.navbar {
    padding: 0;
}

.navbar-nav {
    position: absolute;
    z-index: 1;
    margin: 5em;
    top: 10%
}

.nav-logo {
    position: relative;
    width: 10em;
    /* position: absolute; */
    /* bottom: -5em; */
    /* transform: translate(-50%);
} */
/* 
#logo {
    width: 10em;
    position: absolute;
    bottom: -5em;
}

nav ul {
    background-color: var(--color-rosa_oscuro);
    padding: 1em;
    border-radius: 2em;
    margin: 3em;
}

nav li {
    margin: 0 3em;
}

.nav-link {
    color: var(--color-blanco);
    font-size: 2em;
} */


/*____________________ */
/* INTRODUCTION */

#introduccion, #introduccion > .container-fluid  {
    background-color: var(--color-burdeos);
}

#introduccion > .container-fluid {
    padding: 5%;
}

.intro-text {
    color: var(--color-rosa_claro);
}


/* ____________ */
/* ABOUT US  */
#about_us {
    background-color: var(--color-burdeos);
}

.about_us {
    background-color: var(--color-rosa_oscuro);
    border-top-left-radius: b;
    border-top-right-radius: b;
    padding: 5%;
}

#about_us h2 {
    color: var(--color-amarillo);
}

.video {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    width: 100%; 
    margin: 0 auto;
}

.video > iframe {
    width: 80%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 4rem;
    border: none; 
}


/* ____________ */
/* BEST SELLERS  */
#best_sellers {
    background-color: var(--color-rosa_oscuro);
}

.best_sellers {
    background-color: var(--color-rosa_medio);
}

.best_sellers > h2 {
    color: var(--color-rosa_claro);
}

.best_sellers .btn-primary {
    background-color: var(--color-rosa_claro);
}

#dulcedeleche > a, #saltedcaramel > a, #belgianchocolate > a {
    color: white;
}

/* CARD */
#dulcedeleche, #saltedcaramel, #belgianchocolate {
    background-color: var(--color-burdeos);
    border-radius: 4rem;
}


#dulcedeleche > a:hover, #saltedcaramel > a:hover, #belgianchocolate > a:hover {
    background-color: var(--color-rosa_medio);
    transition: 0.5s;
}

/* MODAL */
.bestsellers-text {
    color: var(--color-burdeos);
}

.modal {
    height: 100%; 
    width: 100%;
    margin: 0;
    background-color: #40061e82;
}

.modal-dialog {
    max-width: 80%;
    margin-left: 10%;
    margin-top: 1.5%;
}

.modal-content {
    display: flex;
    flex-direction: row;
    padding: 5%;
    border-radius: 4rem;
    padding-right: 0;
}

.dulcedeleche > div:last-child > div > div > div > a:last-child:hover, .saltedcaramel > div:last-child > div > div > div > a:last-child:hover {
    background-color: var(--color-burdeos);
    transition: 1s;
}

.dulcedeleche > div:last-child > div > div {
    background-color: var(--color-naranja);
}

.saltedcaramel > div:last-child > div > div {
    background-color: #f7c85c;
}

.belgianchocolate > div:last-child > div > div {
    background-color: #cc8451;
}

.modal-content > img {
    height: 80vh;
}

.modal-text {
    padding-right: 3%;
}

.modal-text > h2 {
    margin-bottom: 2rem;
}




/* ____________ */
/* VALUES  */
#values {
    background-color: var(--color-rosa_medio);
}

.values {
    background-color: var(--color-rosa_oscuro);
}

.values > h2 {
    color: var(--color-amarillo);
}

#quality, #sustainablity, #creativity, #quality > img, #sustainablity > img, #creativity > img {
    cursor: pointer;
}


#quality:hover, #sustainablity:hover, #creativity:hover {
    transform: scale(1.05); 
    transition: transform 0.5s ease; 
}

#quality > img, #sustainablity > img, #creativity > img {
    border-radius: 4rem;
    object-fit: cover; 
}

#quality > h2, #sustainablity > h2, #creativity > h2 {
    color: white;
}

/* MODAL */
.quality > div:last-child, .sustainablity > div:last-child, .creativity > div:last-child {
    background-color: #40061e82;
}

.quality > div:last-child > div, .sustainablity > div:last-child > div, .creativity > div:last-child > div {
    max-width: 80%;
    margin-left: 10%;
    margin-top: 1.5%;
}

.quality > div:last-child > div > div, .sustainablity > div:last-child > div > div, .creativity > div:last-child > div > div {
    padding: 5%;
    border-radius: 4rem;
    background-color: var(--color-rosa_claro);
}


/* ____________ */
/* PRODUCTS */
#products {
    background-color: var(--color-rosa_oscuro);
}

.products {
    background-color: var(--color-burdeos);
    border-radius: 100px 100px 0 0;
}


/* ____________ */
/* NEWS  */
#news {
    background-color: var(--color-burdeos);
}

.news {
    background-color: var(--color-rosa_medio);
    border-radius: 100px 100px 0 0;
}

#news h1, #news p {
    color: var(--color-burdeos);
}

#news h1 {
    font-weight: 500;
}

#news .card {
    background-color: var(--color-naranja);
    border-radius: 4rem;
    width: 30%;
}

#news .card img {
    border-radius: 4rem 4rem 0 0;
}





/* ____________ */
/* WAVY */

#wavy {
    background-color: var(--color-rosa_medio);
}


/* ____________ */
/* FOOTER */

footer {
    background-color: var(--color-burdeos);  
}

footer, footer a {
    color: white;
}


footer a:hover,.social-icons:hover {
    color: var(--color-rosa_claro); 
}

@media screen and (max-width: 1600px) {

    /* CARD */

    .best_sellers > .container-fluid , .values > .container-fluid {
        width: 100%;
    }

}
