:root {
    --color-burdeos: #40061E; 
    --color-rosa_oscuro:#650B30;
    --color-rosa_medio:#853565;
    --color-rosa_claro:#C2819C;
    --color-naranja: #E48447;
    --color-amarillo:#F7D59A;
}

/* @font-face {
    font-family: "KGHAPPYSolid";
    src: url(../fonts/KGHAPPYSolid.ttf) format('truetype');
} */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", serif;
}

section {
    padding: 8rem 0;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 20em;
    color: var(--color-rosa_claro);
} 

.display-1 {
    font-weight: 600;
    font-size: 8rem;
}

h2 {
    margin-bottom: 0.5em;
    font-weight: 900;
    color: white;
} 

p {
    color: white;
}

.btn-primary {
    background-color: var(--color-naranja);  
    color: white;  
    border: none;
    border-radius: 4rem;
    font-weight: 600;
    font-size: 1em;
    width: 60%;
}

/* .btn-primary:hover {
} */

.btn-custom {
    background-color: var(--color-burdeos);
    color: white;
    border: none;
    border-radius: 4rem;
    font-weight: 600;
    font-size: 1em;
    width: 60%;
}

/* .btn-custom:hover {
	background-color: #0d6efd;
    border: #0d6efd 0.2rem solid;
    color: white;
} */

/* .btn-custom p:hover {
	color: white;
} */

/* POP UP */

#cookie-popup {
	display: none;
}

#cookie-popup h2 {
    padding: 0;
}

#cookie-popup > div {
	z-index: 999;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-rosa_oscuro);
    border-radius: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;    
	align-items: center;   
    width: 70%;
}


#cookie-popup p {
    font-size: 2rem;
	color: black;
	padding: 2%;
}


#cookie-popup .btn-primary {
    padding: 1rem 2rem;
    font-size: 1.75rem;
}

#accept-cookies > .btn-primary > p {
	color: black;
}

/* MENÚ PRINCIPAL */

nav:nth-child(2) {
    padding: 2rem;
}

.bg-body-tertiary {
    background-color: white !important;
}


nav:nth-child(2) li {
    padding: 0 1rem;
}

#navbarNavDropdown {
    position: relative;
}

.navbar {
    padding: 0;
}

.navbar-nav {
    position: absolute;
    z-index: 1;
    margin: 5em;
    top: 10%
}

.nav-logo {
    position: relative;
    width: 10em;
    /* position: absolute; */
    /* bottom: -5em; */
    transform: translate(-50%);
}

#logo {
    width: 10em;
    position: absolute;
    bottom: -5em;
}

nav ul {
    background-color: var(--color-rosa_oscuro);
    padding: 1em;
    border-radius: 2em;
    margin: 3em;
}

nav li {
    margin: 0 3em;
}

.nav-link {
    color: white;
    font-size: 2em;
}

#carousel_inicial {
    padding: 0;
}

/* INTRODUCCIÓN */

.introduccion {
    background-color: var(--color-burdeos);
}

#introduccion {
    background-color: var(--color-burdeos);
}

#introduccion .column {
    margin: 0 5%;
}

#introduccion > div > div {
    position: relative;
}

#introduccion > div > div:first-child {
    z-index: 999;
}

#introduccion img {
    width: 100%;
    position: absolute;
    bottom: 50%;
    left: 50%;
}

/* ABOUT US  */

.about_us {
    background-color: var(--color-burdeos);
}

#about_us {
    z-index: 1;
    position: relative;
    background-color: var(--color-rosa_oscuro);
    border-radius: 100px 100px 0 0;
}

#about_us h2 {
    color: var(--color-amarillo);
}

#about_us p {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 2em;
}

/* BEST SELLERS  */

.best_sellers {
    background-color: var(--color-rosa_oscuro);
}

#best_sellers {
    z-index: 1;
    position: relative;
    background-color: var(--color-rosa_medio);
    border-radius: 100px 100px 0 0;
}

.card_best_sellers {
    background-color: var(--color-burdeos);
    border-radius: 3em;
    padding: 2em 1em;
    margin: 1em;
}

.card_best_sellers img {
    width: 100%;
}



/* VALUES  */

.values {
    background-color: var(--color-rosa_medio);
}

#values {
    z-index: 1;
    position: relative;
    background-color: var(--color-rosa_oscuro);
    border-radius: 100px 100px 0 0;
}

#values img {
    width: 100%;
    border-radius: 3em;
}

figcaption {
    color: white;
    font-size: 3em;
}

/* VALUES  */

.values {
    background-color: var(--color-rosa_medio);
}

#values {
    z-index: 1;
    position: relative;
    background-color: var(--color-rosa_oscuro);
    border-radius: 100px 100px 0 0;
}

/* PRODUCTS */

.products {
    background-color: var(--color-rosa_oscuro);
}

#products {
    z-index: 1;
    position: relative;
    background-color: var(--color-burdeos);
    border-radius: 100px 100px 0 0;
}

/* NEWS  */

.news {
    background-color: var(--color-burdeos);
}

#news {
    z-index: 1;
    position: relative;
    background-color: var(--color-rosa_medio);
    border-radius: 100px 100px 0 0;
}

#news .card {
    background-color: var(--color-naranja);
    padding: 0;
    border: none;
}
#news h5 {
    color: var(--color-burdeos); 
}

#news p {
    color: var(--color-burdeos);
}

footer {
    background-color: var(--color-burdeos);
}